<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ytplayer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.single.YTSlidingActivity"
            android:theme="@style/Theme.AppCompat.Translucent2" />
        <activity
            android:name=".activity.single.YTPlayerActivity"
            android:theme="@style/Theme.AppCompat.Translucent2" />
        <activity android:name=".activity.playlist.YTPlaylistActivity" />
        <activity android:name=".activity.playlist.YTChannelPlaylistActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.search.YTSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>